<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<welcome-file-list>
      <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
	<!--begin of SSO-->
	<!-- 用于单点退出，该监听器用于实现单点登出功能，通知其他应用单点登出 -->
	<listener>
	  <listener-class>org.jasig.cas.client.session.SingleSignOutHttpSessionListener</listener-class>
	</listener>
	
	<!-- 该过滤器负责用户的认证工作 -->
	<filter>
	  <filter-name>CASFilter</filter-name>
	  <filter-class>
	          org.jasig.cas.client.authentication.AuthenticationFilter
	      </filter-class>
	  <init-param>
	  	<!-- 设置登录的URL地址 -->
	    <param-name>casServerLoginUrl</param-name>
	    <param-value>https://localhost:8443/cas/login</param-value>
	  </init-param>
	  <init-param>
	    <param-name>serverName</param-name>
	    <!-- 设置本应用的访问地址及端口 -->
	    <param-value>http://localhost:8080</param-value>
	  </init-param>
	</filter>
	<filter-mapping>
	  <filter-name>CASFilter</filter-name>
	  <url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- 该过滤器负责对Ticket的校验 -->
	<filter>
	  <filter-name>CASValidationFilter</filter-name>
	  <filter-class>
	          org.jasig.cas.client.validation.Cas20ProxyReceivingTicketValidationFilter</filter-class>
	  <init-param>
	    <param-name>casServerUrlPrefix</param-name>
	    <param-value>https://localhost:8443/cas</param-value>
	  </init-param>
	  <init-param>
	    <param-name>serverName</param-name>
	    <param-value>http://localhost:8080</param-value>
	  </init-param>
	</filter>
	<filter-mapping>
	  <filter-name>CASValidationFilter</filter-name>
	  <url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- 该过滤器负责实现HttpServletRequest请求的包裹，允许开发者通过HttpServletRequest的getRemoteUser()获取SSO登录的用户 -->
	<filter>
	  <filter-name>CASRequestFilter</filter-name>
	  <filter-class>
	          org.jasig.cas.client.util.HttpServletRequestWrapperFilter</filter-class>
	</filter>
	<filter-mapping>
	  <filter-name>CASRequestFilter</filter-name>
	  <url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- 该过滤器使得开发者可以通过org.jasig.cas.client.util.AssertionHolder来获取用户的登录名。 比如AssertionHolder.getAssertion().getPrincipal().getName()。 -->
	<filter>
	  <filter-name>CASAssertionThreadLocalFilter</filter-name>
	  <filter-class>org.jasig.cas.client.util.AssertionThreadLocalFilter</filter-class>
	</filter>
	<filter-mapping>
	  <filter-name>CASAssertionThreadLocalFilter</filter-name>
	  <url-pattern>/*</url-pattern>
	</filter-mapping>
	<!--end of sso-->
</web-app>
